<h2> Welcome to Skeet's</h2>
<h1> "Something superior for your interior!"</h1>


<ul>
  <li> <a href="/orders">Place an new order</a></li>
  <li> <a href="/parties/new">Create a new party</a></li>
  <li> <a href="/foods">View Menu</a></li>
  <li> <a href="/foods/new">Add item to the Menu</a></li>
  <li> <a href="/parties">View seated parties</a></li>

</ul>