<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Skeet's Hot Dogs</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
   </head>

  <body>
    <p class="banner">
    <a  class="header" href="/"><h1>Skeet's Red Hots</h1></a> 
  <p class="banner">
    "Something Superior for Your Interior"
  </p>

    <%= yield %>
  </body>

</html>