<h2>Edit a menu item</h2>

<form action="/foods/:id" method= "post">
<input type="hidden" name="_method" value="patch">
  <input type="text" name="new_food_name" value="New name">
  <input type="text" name="new_food_cuisine" value="New type">
  <input type="text" name="new_food_price" value="New price">
  <input type="submit">
</form>