<h1>Today's Menu</h1>


<ul>
  <% @menu.each do |item|%>
  <li> <a href="/foods/<%= item.id %>"> <%= item.name%> : $<%= item.price %> </li>
 <%end%>
</ul>


<form action="/foods/new"" method="get">
  <input class="button" type="submit" value="Add Menu Item">
</form> 