<h2>Add a new item</h2>

<form action="/foods" method= "post">
  <input type="text" name="food[name]" placeholder="Name">
  <input type="text" name="food[category]" placeholder="Category">
  <input type="text" name="food[price]" placeholder="Price">
  <input type="submit">
</form>
