<h2>Add a new item</h2>

<form action="/foods" method= "post">
  <input type="text" name="food_name" value="Name">
  <input type="text" name="food_cuisine" value="Type">
  <input type="text" name="food_price" price="Price">
  <input type="submit">
</form>