<ul>
  <% @patrons.each do |patron|%>
  <li> <a href="/parties/<%= patron.id %>">Table Number <%= patron.table_number%> : Party Size <%= patron.size %>   :    Orders <%= patron.foods %> </li>
 <%end%>
</ul>