<h2>Add a new PARTY</h2>

<form action="/parties" method= "post">
  <input type="text" name="table_number" value="Table Number">
  <input type="text" name="size" value="Party Size">
  <input type="text" name="paid" value="Paid Bill?">
  <input type="submit">
</form>