<h2>New Party Details</h2>

<form action="/parties" method= "post">
  <input type="text" name="table_number" placeholder="Table Number">
  <input type="text" name="size" placeholder="Party Size">
  <input type="text" name="paid" placeholder="Paid Bill?">
  <input type="text" name="server" placeholder="Server">
  <input class="button" type="submit">
</form>
