<h2>New Party Details</h2>

<form action="/parties" method= "post">
  <input type="text" name="table_number" value="Table Number">
  <input type="text" name="size" value="Party Size">
  <input type="text" name="paid" value="Paid Bill?">
  <input type="text" name="server" value="Server">
  <input class="button" type="submit">
</form>